
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section,
footer
{
  margin: 0 5vw;
}
section:first-of-type{
  margin: 0;
}
section{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
::-webkit-scrollbar{
  background-color: white;
  width: 0.4vw;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom,#fc4958,#e85d05,#fc4958);
}